.velicina {
    margin-top: 2vh;
    background-color: white;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.velicina img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 8%;
    border-bottom-right-radius: 8%;
}

.slike {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.slike img:first-of-type {
    border-bottom-right-radius: 0px;
}

.slike img:nth-of-type(2) {
    border-top-right-radius: 0px;
}



.text {
    padding: 5px 4vw;
    background-color: black;
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
    line-height: 1.6;
}

.text p {
    margin-top: 5vh;
    font-size: 20px;
    margin-bottom: 5vh;
}

.text h1 {
    padding-top: 1vh;
    font-size: 33px;
    padding-bottom: 1rem;
    margin-top: 2vh;
}

.velicina button {
    margin-top: 8vh;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    text-align: center;
    color: black;
    letter-spacing: 3px;
    padding: 5px 15px;
    font-weight: bolder;
}

.velicina button:hover {
    background-color: wheat;
    cursor: pointer;
}

.velicina ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style: none;
}

.velicina ul li {
    font-size: 20px;
}

@media (max-width: 1000px) {
    .velicina img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .slike {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



@media (max-width: 1000px) {
    .velicina {
        display: block;
        margin-bottom: -45vh;
    }

    .velicina img {
        height: 45vh;
        border-bottom-left-radius: 8%;
    }

    .text {
        border-bottom-left-radius: 0%;
        border-top-right-radius: 8%;
    }

    .velicina button {
        margin-top: -3vh;
        margin-bottom: 3vh;
    }

    .slike img:nth-of-type(2) {
        border-bottom-left-radius: 0px;
    }


}