.back {
    height: 8vh;
    background-color: black;
    font-family: Questrial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-content: center;
}

.cetvorka {
    margin-right: 15vh;
}

.kec {
    margin-left: 3vw;
}

.back h4 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding-left: 10vw;
}

.back h2 {
    box-sizing: content-box;
    background-color: white;
    padding: 5px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    color: wheat;
    margin-right: 3vw;
    align-self: center;
    justify-self: center;
    color: rgb(43, 41, 41);
    letter-spacing: 3px;
}

.back h2:hover {
    background-color: wheat;
    cursor: pointer;
}

@media (max-width: 700px) {
    .back {
        height: 5vh;
    }
    .back h4 {
        font-size: 25px;
    }
    .back h2 {
        font-size: 10px;
    }

    .kec h4 {
        font-size: 20px;
    }

    .cetvorka h4 {
        font-size: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 18fr 1fr;
    }

}

@media (max-width: 500px) {
    .kec {
        margin-left: 3vw;
    }


    .cetvorka {
        margin-right: 14vw;
    }
}